@charset "utf-8";
/* CSS Document */

body{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:87.5%;
	line-height:150%;
	color:#fff;
}

main{
	display:block;
}/*IEはmain要素のdisplayプロパティ規定値がinline*/

a:link,
a:visited,
a:active{
	color:#fff;
	text-decoration:underline;/*明示的に*/
}

a:hover{
	color:#fa9a4a;
	text-decoration:none;
}

a img{
	-webkit-transition:0.3s ease-in-out;
	   -moz-transition:0.3s ease-in-out;
	     -o-transition:0.3s ease-in-out;
	        transition:0.3s ease-in-out;/*IE9以下は対応してない*/
}

a:hover img.thinly{
	opacity:0.6;
}

img.fluid{
	max-width:100%;
	height:auto;
}

#headerTop{
	height:559px;
	background-color:#0b7a68;
	background:
		url(../img/butterfly_left.png) -15px 0 no-repeat,
		url(../img/butterfly_right.png) right no-repeat,
		url(../img/texture1.png) center center no-repeat,
		url(../img/greenback.gif) repeat-x;
	background-size:
		auto,
		auto,
		100% 100%,
		auto;
}

#headerInner{
	margin:0 auto;
	position:relative;
	max-width:1000px;
	width:100%;
}

#mainNav{
	width:69.19%;
	margin:0 auto;
}

#mainNav li{
	width:11.82%;	
	float:left;
	margin-top:20px;
	margin-left:10.21%;
}

#mainNav li:nth-of-type(1) a:hover img{
	background:url(../img/glonav1_on.png) no-repeat;
}

#mainNav li:nth-of-type(2) a:hover img{
	background:url(../img/glonav2_on.png) no-repeat;
}

#mainNav li:nth-of-type(3) a:hover img{
	background:url(../img/glonav4_on.png) no-repeat;
}

#mainNav li:nth-of-type(4) a:hover img{
	background:url(../img/glonav5_on.png) no-repeat;
}

#innerLeft{
	width:34.72%;
	margin-top:97px;
	float:left;
}

#innerLeft p{
	position:relative;
	top:96px;
	left:-18px;
}

h1{
	margin-left:10px;
}

#innerLeft p a:hover img{
	background:url(../img/blog_off.png) no-repeat;
}

#innerRight{
	width:64%;
	float:right;
	margin-top:31px;
	margin-right:10px;
}

#siteIDres{
	display:none;
}

#innerRight p#loveM,
#innerRight li{
	float:left;
}

#innerRight p#loveM{
	margin-right:10px;
	width:73%;
}

#snsLabel{
	float:right;
}

#innerRight li#twi{
	margin:0 10px;
}

.res{
	display:none;
}

#mainV{
	margin-top:10px;
}

#panRes{
	display:none;
}

#headerBottom{
	width:100%;
	height:44px;
	background-image:url(../img/kokubannuke.gif);
	background-repeat:repeat-x;
}

#contents{
	min-height:1322px;
	background-color:#202020;
	background:
		url(../img/texture2.png) center center no-repeat,
		url(../img/blackback.gif);
	background-size:
		100% 100%,
		auto;
}

#pan{
	width:100%;
	height:51px;
	background-color:rgba(0,0,0,0.4);
}

#pan div{
	max-width:1000px;
	height:51px;
	margin:0 auto;
	position:relative;
}

#pan div p{
	position:absolute;
	height:51px;
	line-height:51px;
	margin-left:10px;
}

#footer{
	min-height:174px;
	background-color:#000000;
}

#footerInner{
	margin:0 auto;
	max-width:1000px;
	width:100%;
}

#footerTop{
	padding-top:46px;
}

#footerTop p{
	float:left;
	margin-left:10px;
}

#footerTop li{
	float:left;
	margin-top:13px;
	margin-left:8px;
}

#footerTop li:first-of-type{
	margin-left:13px;
}

#pageTop{
	display:none;
}

address{
	margin-top:22px;
	margin-left:10px;
}

#footer p#copyright{
	margin-top:21px;
	text-align:center;
	font-size:75%;
}

/*top*/
/*about*/
section img{
	display:block;
}

#contentsInner{
	max-width:1000px;
	margin:0 auto;
	padding-top:63px;
	padding-bottom:60px;
}

#top_gray{
	width:100%;
	background:#494242;
	border-radius:5px;
	position:relative;
}

h2.top{
	font-size:125%;
	background: url(../img/underRepeat.png) bottom repeat-x;
	margin-bottom:20px;
}

h3.top {
	font-size: 125%;
}

#flyer{
	width:33.58%;
	float:left;
}

#description{
	width:61.32%;
	float:left;
	height:420px;
	margin-left:3.06%;
	overflow:hidden;
}

#description p{
	margin-top:3.06%;
}

.pT2_58{
	padding-top: 2.58%;
}

.pB2{
	padding-bottom:2px;
}

.pB2_58{
	padding-bottom: 2.58%;
}

#top_description{
	float:left;
	width:48.45%;
	margin:2.58% 0 0 2.58%;/*height628px確保(598+30)*/
}

span.top{
	font-size:60%;
}

#top_description p{
	margin-bottom:2px;
}

#photoBox{
	width:47.42%;
	float:left;
}

.top_stagePhoto{
	float:left;
	width:43.5%;
	margin:5.44% 0 0 5.44%;
}

.top_section{
	max-width:920px;
	margin:2.58% 2.58% 0;
	padding-bottom:2.58%;
}

dt{
	float:left;
	margin-right:10px;
}

.ddLast{
	margin-bottom:10px;
}

/*next*/
#next_contentsInner{
	max-width:1000px;
	margin:0 auto;
	padding-top:63px;
	padding-bottom:60px;
}

h2.next{
	font-size:125%;
}

#beige{
	margin:0 10px;
	max-width:970px;
	height:100%;
	padding:5px 5px;
	background:#f4e9d3;
	border-radius:5px;
}

#gray{
	width:100%;
	background:#494242;
	border-radius:5px;
}

#stageConcept{
	margin-bottom:2.58%;
}

#next_flyer{
	float:left;
	width:34%;
	margin:2.58% 0 0 2.58%;
}

#next_flyer img{
	display:block;
}

#next_description{
	float:left;
	width:58.26%;
	margin:2.58% 2.58% 0;
}

span{
	font-size:80%;
}

#next_description p{
	margin-top:3.56%;
}

.stagePhoto{
	width:46.1%;
	float:left;
	margin:0 0 2.58% 2.58%;
}

.pageNumber{
	width:500px;
	margin:0 auto;
	padding:60px 0;
}

.pageNumber p#before{
	float:left;
}

.pageNumber li{
	float:left;
	margin-left:2%;
	width:42px;
	text-align:center;
	height:46px;
	line-height:46px;
	font-size:150%;
}

.pageNumber li a{
	display:block;
	text-decoration:none;
}

.pageNumber li a:hover{
	color:#fff;
	transition:0.3s ease-in-out;
	background:#fa9a4a;
}

.pageNumber p#after{
	float:right;
}

.pageNumber{
	width:500px;
	margin:auto;
}

.pageNumber p{
	float:left;
	margin-left:2%;
}

/*next_1*/
#next_1_detail{
	margin:0 2.58% 2.58%;
}

#next_1_detail p{
	margin-bottom:2.18%;
}

#next_1_detail p#next_1_detailLast{
	margin-bottom:0;
}

#next_1_pageNumber li:first-of-type{
	border:none;
	border-bottom:2px solid #FFFFFF;
}

/*next_2*/
#next_2_detail{
	width:46.1%;
	margin:0 0 2.58% 2.58%;
	float:left;
}

#next_2_detail p{
	margin-bottom:4.48%;
}

#next_2_detail p#next_2_detailLast{
	margin-bottom:0;
}

#next_2_photoBottom{
	width:46.1%;
	float:left;
	margin:0 0 2.58% 2.58%;
}

#next_2_photoBottom p#next_2_photoBottomTop{
	margin-bottom:5.6%;
}

#next_2_pageNumber li:nth-of-type(2){
	border:none;
	border-bottom:2px solid #FFFFFF;
}

/*next_3*/
#next_3_detail{
	width:46.1%;
	margin:0 0 2.58% 2.58%;
	float:left;
}

#next_3_detail p{
	margin-bottom:4.48%;
}

#next_3_detail p#next_3_detailLast{
	margin-bottom:0;
}

#next_3_photoBottom{
	width:46.1%;
	float:left;
	margin:0 0 0 2.58%;
}

#next_3_photoBottom p{
	margin-bottom:5.6%;
}

#next_3_pageNumber li:nth-of-type(3){
	border:none;
	border-bottom:2px solid #FFFFFF;
}

/*next_4*/
#next_4_detail{
	margin:0 0 2.58% 2.58%;
	float:left;
}

#next_4_detail p{
	margin-bottom:4.48%;
}

#next_4_detail p#next_4_detailLast{
	margin-bottom:0;
}

#next_4_pageNumber li:nth-of-type(4){
	border:none;
	border-bottom:2px solid #FFFFFF;
}

/*next_5*/
#next_5_detail{
	width:46.1%;
	margin:0 0 2.58% 2.58%;
	float:left;
}

#next_5_detail p{
	margin-bottom:4.48%;
}

#next_5_detail p#next_5_detailLast{
	margin-bottom:0;
}

#next_5_photoBottom{
	width:46.1%;
	float:left;
	margin:0 0 2.58% 2.58%;
}

#next_5_photoBottom p#next_5_photoBottomTop{
	margin-bottom:5.6%;
}

#next_5_pageNumber li:nth-of-type(5){
	border:none;
	border-bottom:2px solid #FFFFFF;
}

/*next_6*/
#next_6_flyer{
	width:34%;
    text-align:center;
    line-height:300px;
    font-size:150%;
    float:left;
	margin:2.58% 0 0 2.58%;
    background:rgb(0, 0, 0);
}

#next_6_pageNumber li:nth-of-type(6){
	border:none;
	border-bottom:2px solid #FFFFFF;
}

/*next_7*/
#next_7_detail{
	margin:0 2.58% 2.58% 2.58%;
	float:left;
}

#next_7_pageNumber li:nth-of-type(7){
	border:none;
	border-bottom:2px solid #FFFFFF;
}

#after{
	visibility:hidden;
}

/*member*/
.memberItem img.fluid{
	max-width:100%;
	height:auto;
}

#member_contentsInner{
	max-width:1000px;
	margin:0 auto;
	padding-top:63px;
	padding-bottom:60px;
}

#member_contentsInner ul{
	margin:0 10px;
}

.member{
	background:#FFFFFF;
	float:left;
	margin:0 0 1% 1%;
	color:#000000;
	text-align:center;
	width:24.25%;
	min-height:300px;
}

.member:nth-of-type(1),
.member:nth-of-type(5),
.member:nth-of-type(9),
.member:nth-of-type(13),
.member:nth-of-type(17),
.member:nth-of-type(21){
	margin-left:0;
}

.memberItem{
	padding:0 7.912% 0;
}

.memberItemWrap{
	max-width:200px;
	min-height:300px;
	margin:0 auto;
	position:relative;
}

.member h2,
.member p{
	text-align:left;
}

.role{
	position:absolute;
	bottom:1%;
}

.memberSns{
	position:absolute;
	right:0;
	bottom:1%;
}

@media screen and (max-width:1016px){	
	/*top*/
	#description{
		height:auto;
	}
}

@media screen and (max-width:959px){
	/*member*/
	.member{
		min-height:285px;
	}
	
	.memberItemWrap{
		min-height:285px;
	}
}

@media screen and (max-width:800px){
	#headerTop{
		background-color:#0b7a68;
		background:
			url(../img/butterfly_left.png) -15px 0 no-repeat,
			url(../img/butterfly_right.png) right no-repeat,
			url(../img/texture1.png) center center no-repeat,
			url(../img/greenback.gif) repeat-x;
		background-size:
			auto,
			auto,
			auto,
			auto;
	}

	nav,
	#innerLeft,
	#loveM{
		display:none;
	}
	
	#headerInner{
		max-width:640px;
	}
	
	#innerRight{
		width:100%;
		margin-right:0;
	}
	
	h1{
		float:left;
	}
	
	img#siteIDres{
		display:block;
		height:100px;
		width:auto;		
	}
	
	.res{
		display:block;
	}
	
	#snsLabel{
		width:170px;
		float:right;
		margin-right:10px;
	}
	
	label {
		float:left;
	}
	
	input[type="checkbox"].on-off{
		display: none;
	}
	
	ul#mainNav2 {
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
	
	ul#mainNav2 li {
		float:none;
		width:81px;
		margin:5px auto;
		padding:12px;
	}
	
	input[type="checkbox"].on-off + ul{
		height: 0;
		overflow: hidden;
	}
	
	input[type="checkbox"].on-off:checked + ul{
		height: 264px;
	}
	
	#mainNav2 li:first-of-type{
		margin-left:auto;
	}
		
	#mainNav2 li:nth-of-type(1) a:hover img{
		background:url(../img/glonav1_on.png) no-repeat;
	}
	
	#mainNav2 li:nth-of-type(2) a:hover img{
		background:url(../img/glonav2_on.png) no-repeat;
	}
	
	#mainNav2 li:nth-of-type(3) a:hover img{
		background:url(../img/glonav4_on.png) no-repeat;
	}
	
	#mainNav2 li:nth-of-type(4) a:hover img{
		background:url(../img/glonav5_on.png) no-repeat;
	}
	
	#mainV{
		margin:10px 10px 0 10px;
	}

	#contents{
		min-height:inherit;
	}
	
	#pan{
		display:none;
	}
	
	#panRes{
		display:block;
		margin-left:10px;
	}
	
	#footerInner{
		max-width:640px;
		width:100%;
	}
	
	#footerTop p{
		margin-left:10px;
	}
	
	#pageTop{
		display:block;
		float:right;
		margin-right:10px;
	}

	address{
		margin-left:10px;
	}

	/*top*/
	/*about*/
	#contentsInner{
		max-width:640px;
		width:100%;		
		padding-top:110px;/*パンくず21px分プラス*/		
	}
	
	p#flyer{
		width:50%;
		}
	
	#description{
		width:46.9%;
	}
	
	p#next{
		width:auto;
		margin:0;
		float:none;
	}

	#top_description{
		width:auto;
		max-width:570px;
		margin:20px 20px 20px 20px;
	}
	
	#top_description p{
		margin-bottom:0;
	}
	
	#photoBox{
		display: none;
	}
	
	p.top_stagePhoto{
		width:auto;
		margin:0 0 20px 20px;
		max-width:100%;
		height:auto;
		float:none;
	}
	
	#stagePhoto02Small,#stagePhoto03Small{
		display:none;
	}
	
	#stagePhoto01Small,#stagePhoto04Small{
		display:block;
		width:100%;
		max-width:100%;
		height:auto;
	}
	
	.top_section{
		margin:0 20px;
		padding-bottom:20px;
	}
	
	/*next*/
	#next_contentsInner{
		max-width:640px;
		width:100%;		
		padding-top:110px;/*パンくず21px分プラス*/		
	}
	
	#beige{
		display:inline-block;
		width:auto;
		margin:0 10px;
	}
	
	#stageConcept{
		margin-bottom:15px;
	}
	
	#next_flyer{
		width:auto;
		margin:20px 20px 0 20px;
	}
	
	#next_flyer img{
		width:100%;
	}
	
	#next_description{
		width:auto;
		margin:20px 20px 0 20px;
	}
	
	p.stagePhoto{
		width:auto;
		margin:0 20px 20px 20px;
	}

	/*next_1*/
	#next_1_detail{
		margin:0 20px 20px;
	}	
	
	/*next_2*/
	#next_2_detail{
		width:auto;
		margin:0 20px 20px;
	}
	
	#next_2_photoBottom{
		width:auto;
		margin:0;
	}
	
	#next_2_photoBottom p,
	#next_2_photoBottom p#next_2_photoBottomTop{
		margin:0 20px 20px 20px;
	}
	
	/*next_3*/
	#next_3_detail{
		width:auto;
		margin:0 20px 20px;
	}
	
	#next_3_photoBottom{
		width:auto;
		margin:0;
	}
	
	#next_3_photoBottom p{
		margin:0 20px 20px 20px;
	}
	
	/*next_4*/
	#next_4_detail{
		margin:0 20px 20px;
	}
	
	/*next_5*/
	#next_5_detail{
		width:auto;
		margin:0 20px 20px;
	}
	
	#next_5_photoBottom{
		width:auto;
		margin:0;
	}
	
	#next_5_photoBottom p,
	#next_5_photoBottom p#next_5_photoBottomTop{
		margin:0 20px 20px 20px;
	}
	
	/*next_6*/
	#next_6_flyer{
		display:none;
	}

	/*next_7*/
	#next_7_detail{
		width:auto;
		margin:0 20px 20px;
	}
	
	/*member*/
	#member_contentsInner{
		max-width:640px;
		width:100%;		
		padding-top:110px;/*パンくず21px分プラス*/		
	}
	
	.member:nth-of-type(1),
	.member:nth-of-type(5),
	.member:nth-of-type(9),
	.member:nth-of-type(13),
	.member:nth-of-type(17),
	.member:nth-of-type(21){
		margin:0 0 1% 1%;
	}
	
	.member{
		width:32.66%;
	}

	.member:nth-of-type(1),
	.member:nth-of-type(4),
	.member:nth-of-type(7),
	.member:nth-of-type(10),
	.member:nth-of-type(13),
	.member:nth-of-type(16),
	.member:nth-of-type(19),
	.member:nth-of-type(22){
		margin-left:0;
	}
}

@media screen and (max-width:599px){
	#headerTop{
		height:380px;
		background-color:#0b7a68;
		background:
			url(../img/texture1.png) center center no-repeat,
			url(../img/greenback.gif) repeat-x;
		background-size:
			auto,
			auto;
	}
	
	#innerRight{
		margin-top:10px;
	}

	h1{
		margin-right:0;
	}
	
	img#siteIDres{
		height:80px;
	}

	#innerRightTop ul{
		display:none;
	}
	
	#snsLabel{
		width:auto;
	}
	
	label{
		float:right;
	}
	
	/*top*/
	/*about*/
	#contentsInner{
		width:100%;
		padding-top:0;
	}
	
	#top_gray{
		width:100%;
		background:none;
	}
	
	p#flyer{
		width:auto;
		float:none;
	}
	
	#description{
		width:auto;
		margin:3.06% 0 0 0;
	}
	
	p#next{
		margin:0;
	}

	#top_description{
		margin:10px 10px 10px 10px;
	}
	
	#photoBox{
		margin-right:0;
	}
	
	p.top_stagePhoto{
		margin:0 10px 10px 10px;
	}
	
	.top_section{
		margin:30px 10px 0;
	}
	
	h2.top{
		margin-bottom:10px;
	}
	
	/*next*/
	#next_contentsInner{
		width:100%;
		padding-top:0;
	}
	
	#beige{
		width:100%;
		background:none;
		margin:0;
		padding:0;
	}
	
	#gray{
		width:100%;
		background:none;
	}
	
	#next_flyer{
		margin:10px 10px 0;
		float:none;
	}
	
	#next_flyer img{
		width:658px;
		max-width:100%;
		height:auto;
	}
	
	#next_description{
  		margin:10px 10px 0 10px;
	}
	
	#next_description p{
		margin-top:10px;
	}
	
	p.stagePhoto{
		margin:0 10px 10px 10px;
	}
	
	p.stagePhoto img{
		width:100%;
	}
	
	.pageNumber{
		width:300px;
		padding:20px 0;
	}
	
	.pageNumber li{
		margin-left:0;
		width:28px;
	}
	
	.pageNumber p{
		margin-left:0;
	}

	/*next_1*/
	#next_1_detail{
		margin:0 10px 10px;
	}
	
	#next_1_detail p{
		margin-bottom:10px;
	}
		
	/*next_2*/
	#next_2_detail{
		margin:0 10px 10px;
	}
	
	#next_2_detail p{
		margin-bottom:10px;
	}
	
	#next_2_photoBottom{
		float:none;
	}
	
	#next_2_photoBottom p,
	#next_2_photoBottom p#next_2_photoBottomTop{
		margin:0 10px 10px 10px;
	}

	/*next_3*/
	#next_3_detail{
		margin:0 10px 10px;
	}
	
	#next_3_detail p{
		margin-bottom:10px;
	}
	
	#next_3_photoBottom{
		float:none;
	}
	
	#next_3_photoBottom p{
		margin:0 10px 10px 10px;
	}

	/*next_4*/
	#next_4_detail{
		margin:0 10px 10px;
	}
	
	#next_4_detail p{
		margin-bottom:10px;
	}

	/*next_5*/
	#next_5_detail{
		margin:0 10px 10px;
	}
	
	#next_5_detail p{
		margin-bottom:10px;
	}
	
	#next_5_photoBottom{
		float:none;
	}
	
	#next_5_photoBottom p,
	#next_5_photoBottom p#next_5_photoBottomTop{
		margin:0 10px 10px 10px;
	}
	
	/*next_7*/
	#next_7_detail{
		margin:0 10px 10px;
	}
	
	#next_7_detail p{
		margin-bottom:10px;
	}
	
	/*member*/
	#member_contentsInner{
		width:100%;
		padding-top:0;
	}
	
	#member_contentsInner ul{
		padding-top:10px;
	}
	
	.member{
		width:49.5%;
	}
	
	.member:nth-of-type(1),
	.member:nth-of-type(4),
	.member:nth-of-type(7),
	.member:nth-of-type(10),
	.member:nth-of-type(13),
	.member:nth-of-type(16),
	.member:nth-of-type(19),
	.member:nth-of-type(22){
		margin:0 0 1% 1%;
	}

	.member:nth-of-type(odd){
		margin-left:0;
	}	
	
	.member,
	.memberItemWrap{
		min-height:228px;
	}
	
	.memberItemWrap{
		max-width:160px;
	}
	
	.member p{
		font-size:75%;
		line-height:125%;
	}
}